<div class="footer w3-text-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="w3-container w3-padding-24">
                <h5 class="w3-text-white">Menu</h5>
                <ul class="nav">
                    <li><a routerLink="/">Accueil</a></li>
                    <li><a routerLink="/Formations">Formations</a></li>
                    <li><a routerLink="/Contacts">Contacts</a></li>
                    <li><a routerLink="/Se connecter"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="w3-container w3-padding-24">
                <h5 class="w3-text-white">Contact</h5>
                <ul class="nav">
                    <li><a href="email@digitec.mg">email@digitec.mg</a></li>
                    <li>+261 34 64 448 57</li>
                    <li>+261 34 09 208 06</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="w3-container w3-padding-24">
                <h5 class="w3-text-white"><strong>Follow us</strong></h5>
                <ul class="nav w3-text-white">
                    <li><a href=""><span class="fab fa-facebook"></span> Facebook</a></li>
                    <li><a href=""><span class="fab fa-linkedin"></span> LinkedIn</a></li>
                    <li><a href=""><span class="fab fa-youtube"></span> Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>