<div class="contenu">
    <app-navbar></app-navbar>
    <div class="log w3-card-2 w3-padding-24 container">
        <h1 class="w3-center">Se connecter</h1>
        <div class="w3-margin-top">
            <label for="">Email</label>
            <input type="text" class="w3-input" placeholder="Email">
        </div>
        <div class="w3-margin-top">
            <label for="">Mot de passe</label>
            <input type="text" placeholder="Mot de passe" class="w3-input">
        </div>
        <div class="w3-center w3-margin-top">
            <button class="login-btn">Se connecter</button>
        </div>
        <div class="w3-center w3-margin-top">
            <button class="Sign-btn">S'inscrire</button>
        </div>
        <div class="w3-margin-top w3-center">
            <a>Mot de passe oublié?</a>
        </div>
    </div>
    <app-footer></app-footer>
</div>