<div class="contenu">
    <app-navbar></app-navbar>
    <form class="w3-card-2 w3-container  w3-margin-top w3-padding w3-margin-bottom">
        <h2 class="w3-center">Contactez-nous</h2>
        <div class="w3-margin-top">
            <label for="Email">Email</label>
            <textarea placeholder="Email" class="w3-input" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="w3-margin-bottom w3-margin-top">
            <label for="Nom">Nom</label>
            <input type="text" class="w3-input" placeholder="Nom">
        </div>
        <div class="w3-margin-bottom">
            <label for="Prenom">Prénom</label>
            <input type="text" placeholder="Prénom" class="w3-input">
        </div>
        <div class="w3-center ">
            <button class="btn Sign-btn">Envoyer</button>
        </div>
    </form>
    <app-footer></app-footer>
</div>