<div class="contenu">
    <app-navbar></app-navbar>
    <div class="start full-width">
        <div class="start-title container w3-text-white">
            <h1><strong> Choisir le meilleur site</strong></h1>
            <h2 class="w3-text-black"><strong> pour vos cours à distance</strong></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat optio laboriosam molestias minus.
                Est consequatur eos quidem doloribus, inventore veniam, minima nostrum possimus officia qui quae eum
                similique adipisci. Vel!</p>
            <button class="w3-btn w3-right w3-margin-right w3-margin-top">S'inscrire</button>
        </div>
    </div>
    <div class="second container full-width">
        <div class="row">
            <div class="col-sm-4 w3-padding-24 w3-container">
                <div class="card w3-container">
                    <div class="card-img-1">
                    </div>
                    <h3 class="w3-center"><strong> Embaucher ou rembourser </strong></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consequuntur at suscipit natus
                        totam repellendus perferendis omnis. Delectus labore itaque laudantium beatae iste facere
                        voluptatum, dolorem iusto iure tempora maxime?</p>
                </div>
            </div>
            <div class="col-sm-4 w3-padding-24">
                <div class="card w3-container">
                    <div class="card-img-2">

                    </div>
                    <h3 class="w3-center"><strong> Des milliers de ressources</strong></h3>
                    <h4 class="w3-center"><strong> à votre dispositions </strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sit nam praesentium quasi
                        quis, ut quo est modi explicabo mollitia totam dignissimos animi sunt doloremque. At repellendus
                        odit omnis aliquid?</p>
                </div>
            </div>
            <div class="col-sm-4 w3-padding-24">
                <div class="card w3-container">
                    <div class="card-img-3">

                    </div>
                    <h3 class="w3-center"><strong> Mentor 100% humains</strong></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, doloremque omnis eum libero
                        facilis ullam veritatis. Quaerat, eos delectus laboriosam, saepe ipsa odio obcaecati laudantium
                        quasi officiis dolorum cupiditate nihil!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="three full-width w3-padding-24">
        <h2 class="w3-center"><strong>Formations</strong></h2>
        <div class="carousel slide w3-disblay" data-ride="carousel" id="myCarousel">
            <div class="carousel-inner w3-display" role="listbox">
                <div class="item active w3-container">
                    <div class="w3-center">
                        <h3 class="w3-text-blue">Informatiques</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 w3-margin-top w3-padding-24 w3-margin-bottom">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Administrateur réseau</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/admin réseau 1.jpg" alt="" width="100%" height='250px' class="w3-circle">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 w3-margin-top w3-padding-24">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Infographiste</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/Design Image 2.jpg" class="w3-circle" alt="" width="100%" height='250px'>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-0 w3-margin-top w3-padding-24">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Développeur</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/Coding job.jpg" class="w3-circle" alt="" width="100%" height='250px'>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second item list -->
                <div class="item w3-container">
                    <div class="w3-center">
                        <h3 class="w3-text-blue">Développement Social</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 w3-padding-24 w3-margin-top">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Administrateur réseau</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/admin réseau 1.jpg" class="w3-circle" alt="" width="100%" height='250px'>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 w3-padding-24 w3-margin-top">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Infographiste</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/Design Image 2.jpg" class="w3-circle" alt="" width="100%" height='250px'>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 w3-padding-24 w3-margin-top">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Développeur</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/Coding job.jpg" class="w3-circle" alt="" width="100%" height='250px'>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item w3-container">
                    <div class="w3-center">
                        <h3 class="w3-text-blue">Catègorie</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 w3-padding-24 w3-margin-top">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Marketing</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/admin réseau 1.jpg" alt="" width="100%" height='250px' class="w3-circle">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 w3-padding-24 w3-margin-top">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Gestion</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/Design Image 2.jpg" alt="" width="100%" height='250px' class="w3-circle">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 w3-margin-top w3-padding-24">
                            <div class="w3-container w3-card-2 w3-padding-24 w3-round-large">
                                <h5 class="w3-center"><strong> Economie</strong></h5>
                                <div class="w3-center list-img w3-margin-bottom">
                                    <img src="../../assets/Images/Coding job.jpg" alt="" width="100%" height='250px' class="w3-circle">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore voluptates
                                    illum ipsa animi laudantium porro odio fugiat, rerum nostrum aspernatur, eaque sequi
                                    ipsum natus, earum enim autem molestias amet.
                                </p>
                                <div class="w3-center">
                                    <button class="w3-btn w3-blue w3-round-large"><span
                                            class="glyphicon glyphicon-plus"></span> Voir détails</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="w3-display-left w3-margin-left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="w3-display-right w3-margin-right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="w3-center">
            <a routerLink="/Formations" class="w3-btn plus"> Voir plus</a>
        </div>
    </div>
    <div class="fourth full-width w3-blue w3-padding-top-24">
        <div class="w3-container">
            <h2 class="w3-center w3-margin-top w3-text-white"><strong>Thèmatiques</strong></h2>
            <p class="w3-center">Des sujets qui pourraient vous intéressé</p>
        </div>
        <div class="theme-liste">
            <ul class="nav liste-1">
                <li><a routerLink="kfsgjldfkg">UX & UI Design</a></li>
                <li><a routerLink="kfsgjldfkg">Photoshop</a></li>
                <li><a routerLink="kfsgjldfkg">Illustrator</a></li>
                <li><a routerLink="kfsgjldfkg">InDesign</a></li>
                <li><a routerLink="kfsgjldfkg">After Effect</a></li>
                <li><a routerLink="kfsgjldfkg">Premiere</a></li>
                <li><a routerLink="kfsgjldfkg">HTML & CSS</a></li>
                <li><a routerLink="kfsgjldfkg">Développement web</a></li>
                <li><a routerLink="kfsgjldfkg">Algorithme</a></li>
                <li><a routerLink="kfsgjldfkg">Machine Learning</a></li>
                <li><a routerLink="kfsgjldfkg">Intélligence artificielle</a></li>
                <li><a routerLink="kfsgjldfkg">Data structure</a></li>
                <li><a routerLink="kfsgjldfkg">UML</a></li>
                <li><a routerLink="kfsgjldfkg">Agile</a></li>
            </ul>
            <ul class="nav liste-2">
                <li><a routerLink="kfsgjldfkg">.....</a></li>
                <li><a routerLink="kfsgjldfkg">UX & UI Design</a></li>
                <li><a routerLink="kfsgjldfkg">UX & UI Design</a></li>
                <li><a routerLink="kfsgjldfkg">UX & UI Design</a></li>
                <li><a routerLink="kfsgjldfkg">UX & UI Design</a></li>
                <li><a routerLink="kfsgjldfkg">when you are out of idea</a></li>
                <li><a routerLink="kfsgjldfkg">This is copy and past effect</a></li>
                <li><a routerLink="kfsgjldfkg">Développement personnel</a></li>
                <li><a routerLink="kfsgjldfkg">Développement professionel</a></li>
                <li><a routerLink="kfsgjldfkg">Gestion de projet</a></li>
                <li><a routerLink="kfsgjldfkg">Management</a></li>
                <li><a routerLink="kfsgjldfkg">Entreprenariat</a></li>
                <li><a routerLink="kfsgjldfkg">Psychologie de travail</a></li>
                <li><a routerLink="kfsgjldfkg">Droit de travail</a></li>
            </ul>
            <ul class="nav liste-3">
                <li><a routerLink="kfsgjldfkg">Envoie d'autre liste</a></li>
                <li><a routerLink="kfsgjldfkg">Je connais</a></li>
                <li><a routerLink="kfsgjldfkg">uniquement</a></li>
                <li><a routerLink="kfsgjldfkg">les chose</a></li>
                <li><a routerLink="kfsgjldfkg">qui sont dans</a></li>
                <li><a routerLink="kfsgjldfkg">mon domaine.</a></li>
                <li><a routerLink="kfsgjldfkg">This is copy and past effect</a></li>
                <li><a routerLink="kfsgjldfkg">when the developper</a></li>
                <li><a routerLink="kfsgjldfkg">is out of idea.</a></li>
                <li><a routerLink="kfsgjldfkg">I'm just</a></li>
                <li><a routerLink="kfsgjldfkg">a developper</a></li>
                <li><a routerLink="kfsgjldfkg">I need the </a></li>
                <li><a routerLink="kfsgjldfkg">Text</a></li>
                <li><a routerLink="kfsgjldfkg">Please help!</a></li>
            </ul>
        </div>
        <div class="w3-center w3-margin-top w3-margin-bottom">
            <button class="plus w3-btn">Voir plus</button>
        </div>
    </div>
    <div class="five">
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/Images/Orienté.jpg" width="100%" alt="">
            </div>
            <div class="col-sm-6">
                <div class="content w3-padding-64 w3-container">
                    <h3 class="w3-center w3-text-blue"><strong> On est là pour vous orienter</strong></h3>
                    <p class="w3-text-black">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut impedit neque
                        saepe sit quia quis
                        tempora quo quam eaque sequi adipisci, reprehenderit est possimus placeat repellendus dolores
                        cumque
                        facilis qui!</p>
                    <button class="w3-btn w3-black message"><span class="glyphicon glyphicon-envelope"> Envoyer un
                            message</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="six">
        <div class="w3-margin">
            <h1 class="w3-margin-left w3-center w3-text-white">Témoignages</h1>
        </div>
        <video width="100%" height="500px" src="../../assets/Videos/videoplayback (2).mp4" controls></video>
    </div>
    <div class="seven full-width w3-padding-64">
        <div class="w3-margin">
            <h1 class="w3-center w3-text-cyan"><strong> Formations certifiants</strong></h1>
        </div>
        <p class="w3-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
        <div class="w3-center certificate">
            <img src="../../assets/Images/Certificate.jpg" width="60%" height="500px" alt="">
        </div>
    </div>
    <app-footer></app-footer>
</div>