/* You can add global styles to this file, and also import other style files */
:root{--blue:#0061d8;}body{width: 100vw;height: 100vh;overflow: hidden;margin: 0;padding: 0;}.full-width{width: 100%;}.full-vwidth{width: 100vw;}
input:focus{
    outline: none;
}
.padding-0{
    padding: 0;
}